html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1; }

@media screen and (max-width: 1020px) {
  .logo {
    width: 73px;
    height: 48px; } }

.header {
  height: 700px;
  background-image: url("../images/header2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #fff; }
  .header__nav {
    width: 100%; }

@media screen and (max-width: 1020px) {
  .header {
    height: 568px; }
    .header__nav {
      height: 100%; } }

.nav {
  color: #fff;
  text-transform: uppercase; }
  .nav__logo {
    position: absolute;
    top: 24px;
    left: calc(50% - (73px / 2));
    z-index: 2;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  .nav__input {
    display: none; }
  .nav__menu {
    position: absolute;
    top: 42px;
    right: 23px;
    z-index: -1;
    cursor: pointer; }
  .nav__phone-img {
    position: absolute;
    top: 39px;
    left: 23px;
    z-index: -1; }
  .nav__phone {
    position: absolute;
    top: 56px;
    left: 120px;
    text-decoration: none;
    color: #fff; }
  .nav__phone:focus {
    outline: none;
    background: rgba(80, 180, 219, 0.5); }
  .nav__action {
    position: absolute;
    top: 56px;
    right: 120px; }
    .nav__action--link {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      padding-bottom: 8px;
      border-bottom: 1px solid #fff; }
      .nav__action--link:hover {
        color: #9fadc2;
        border-color: #9fadc2; }
      .nav__action--link:focus {
        outline: none;
        background: rgba(80, 180, 219, 0.5); }
  .nav__title {
    position: absolute;
    bottom: 165px;
    left: 120px;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  .nav__title::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    height: 2px;
    background-color: #fff;
    width: 35px; }
  .nav__list {
    position: absolute;
    bottom: 48px;
    left: 120px;
    right: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
  .nav__item--active {
    padding: 8px 24px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px; }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 24px; }
  .nav__link:hover {
    color: #9fadc2; }
  .nav__link:focus {
    outline: none;
    background: rgba(80, 180, 219, 0.5); }

@media screen and (max-width: 1020px) {
  .nav__action, .nav__phone {
    visibility: hidden;
    position: absolute;
    top: -3000%;
    z-index: -1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__logo {
    position: absolute;
    top: 24px;
    left: calc(50% - (73px / 2));
    z-index: 3;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  .nav__title {
    bottom: 80px;
    left: 20px;
    font-size: 46px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  .nav__list {
    visibility: hidden;
    padding: 104px 0 0 24px;
    top: -3000%;
    left: 0;
    width: 100%;
    height: 568px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #0075ff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 2;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__menu {
    width: 18px;
    height: 12px;
    background-image: url("../images/Vector.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3; }
  .nav__phone-img {
    width: 18px;
    height: 18px;
    background-image: url("../images/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; }
  .nav__item--active {
    background: none; }
  .nav__link {
    padding: 16px 0; }
  .nav__item {
    padding: 0; }
  .nav__input:checked ~ .nav__list {
    top: 0;
    visibility: visible; }
  .nav__input:checked ~ .nav__phone {
    visibility: visible;
    position: absolute;
    top: 460px;
    left: 20px;
    z-index: 3; }
  .nav__input:checked ~ .nav__action {
    visibility: visible;
    position: absolute;
    top: 490px;
    left: 20px;
    z-index: 3; }
  .nav__input:checked + .nav__menu {
    width: 16px;
    height: 16px;
    background-image: url("../images/x.png"); } }

.section {
  padding: 150px 120px;
  position: relative;
  background-color: white;
  z-index: 1; }
  .section__heading {
    left: 0;
    right: 0;
    top: 0;
    margin: auto; }

@media screen and (max-width: 1020px) {
  .section {
    padding: 89px 20px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__title {
    width: 328px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    font-style: normal;
    font-weight: bold;
    color: #3e3e3e; }
  .info__link {
    color: #0075ff; }
  .info__text {
    max-width: 500px; }
  .info__subtitle {
    color: #0075ff;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 16px; }
  .info__text--margin {
    margin: 27px 0; }

@media screen and (max-width: 1020px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .info__title {
    font-size: 36px; }
  .info__subtitle {
    margin-top: 48px; } }

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading__crown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 13px;
    margin: auto;
    top: calc(100% + 4px);
    background-image: url("../images/crown.svg"); }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos_wide_left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos_wide_left .photos__img:last-child {
    width: calc(33% - 10px); }
  .photos_wide_right .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos_wide_right .photos__img:last-child {
    width: calc(67% - 10px); }

@media screen and (max-width: 1020px) {
  .photos__img {
    height: 131px; }
  .photos_wide_left .photos__img:first-child {
    width: calc(50% - 10px); }
  .photos_wide_left .photos__img:last-child {
    width: calc(50% - 10px); }
  .photos_wide_right .photos__img:first-child {
    width: calc(50% - 10px); }
  .photos_wide_right .photos__img:last-child {
    width: calc(50% - 10px); } }

.gallery {
  z-index: 2; }
  .gallery__caption {
    margin: 24px 0 40px; }
  .gallery__button {
    margin: 40px auto 0; }
  .gallery__link {
    color: #0075ff;
    font-weight: bold; }

.button {
  display: block;
  line-height: 14px;
  font-weight: bold;
  color: #0075ff;
  height: 56px;
  width: 188px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #0075ff;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .button:hover {
    background-color: #0075ff;
    color: white; }

@media screen and (max-width: 1020px) {
  .button {
    width: 100%; } }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 412px; }
  .consultation__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #0075ff;
    margin-bottom: 16px; }
  .consultation__form {
    width: 413px; }

@media screen and (max-width: 1020px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text {
      width: 100%; }
    .consultation__form {
      width: 100%;
      margin-top: 32px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 16px; }
  .form__input, .form__button {
    width: 100%;
    height: 48px; }
  .form__button {
    margin-top: 16px;
    color: #fff;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px; }

.input {
  font-size: 14px;
  padding: 0 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .input::placeholder {
    color: #b9c1ce; }
  .input_textarea {
    height: 144px;
    padding: 17px;
    resize: none; }

.testimonials {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: repeat(3, 240px); }

@media screen and (max-width: 1020px) {
  .testimonials {
    grid-template-columns: 280px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.person {
  text-align: center; }
  .person__photo {
    width: 153px;
    height: 153px;
    border-radius: 50%; }
  .person__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin: 28px 0 4px; }
  .person__position {
    color: #9fadc2;
    margin-bottom: 13px;
    font-size: 14px; }
  .person__text {
    color: #3e3e3e;
    line-height: 27px; }

@media screen and (max-width: 1020px) {
  .person {
    margin-bottom: 48px; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 412px;
    height: 100%; }
  .contact__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 230px;
            flex: 1 0 230px; }
  .contact__heading {
    font-size: 14px;
    margin-bottom: 8px;
    color: #9fadc2; }
  .contact__text {
    display: block;
    color: #3e3e3e;
    line-height: 27px;
    margin-bottom: 25px;
    max-width: 153px; }
  .contact__form {
    width: 413px; }

@media screen and (max-width: 1020px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      width: 100%; }
    .contact__text {
      width: 100%; }
    .contact__form {
      width: 100%; } }

.footer {
  height: 359px;
  position: relative;
  bottom: 0;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto; }

/*# sourceMappingURL=main.css.map */
